@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
   
}
body{
    background-image: linear-gradient(to right #BFBFBF,#8AA6A3 )
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(36, 35, 35, 0.678);
}
h1{
    color:#10403B;
    text-align: center;
    text-shadow:1px 1px 1px rgba(12, 12, 12, 0.534);

}

h2{
    color:#127369;

}

p{
    text-align: justify;
}